.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-short {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.App-header-visit{
  background-color: #c603fc;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Field{
  width: 200px;
  border-radius: 25px;
}

 .Button {
  background: #abe4f8;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abe4f8), to(#74d0f4));
  background: -moz-linear-gradient(#abe4f8, #74d0f4);
  background: linear-gradient(#abe4f8, #74d0f4);
  border: solid 1px #8cc5d9;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #cdeffb;
  color: #42788e;
  text-shadow: 0 1px 0 #b6e6f9; }

  .Button:hover {
  background: #80d4f5;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#80d4f5), to(#92dbf6));
  background: -moz-linear-gradient(#80d4f5, #92dbf6);
  background: linear-gradient(#80d4f5, #92dbf6);
  border: solid 1px #79acbe;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #b2e6f8; }

 .Button:active {
  background: #89d2ee;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#89d2ee), to(#84cae6));
  background: -moz-linear-gradient(#89d2ee, #84cae6);
  background: linear-gradient(#89d2ee, #84cae6);
  border: solid 1px #5c8d9f;
  box-shadow: inset 0 10px 15px 0 #79b9d2; }

 .Error {
   color:red;
 }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
